
.example-spacer {
    flex: 1 1 auto;
}
.pl-18 {
    padding: 18%;
}
.mat-stroked-button{
    background-color: #6e41c8;
    color:white;
    border-color:white;
    width: 110px;
}
mat-toolbar{
    background-color: #6e41c8;

}
