<app-loader *ngIf = "showLoader"></app-loader>
<div fxLayout="column" *ngIf="!showLoader">
    <div class="header-section" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutGap="15px">
            <span class="bold">{{message}}</span>
        </div> 
        <mat-icon class="icon bold" (click)="dialogRef.close('N');">close</mat-icon>
     </div>
     <div id="login" fxLayout="column">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center start" >
    
            <div id="login-form" >
                <form [formGroup]="createProductForm" fxLayot="column">

                    <mat-form-field appearance="outline" >
                        <mat-label>Product Name</mat-label>
                        <input matInput formControlName="name" placeholder="Product Name">
                        <mat-error>
                            Product Name is required
                        </mat-error>
                      
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput formControlName="price" placeholder="Price" (blur)="transformAmount($event)">
                        <mat-error *ngIf="createProductForm.get('price').hasError('required')">
                            Price is required
                        </mat-error>
                        <mat-error *ngIf="!createProductForm.get('price').hasError('required') && 
                        createProductForm.get('price').hasError('pattern')">
                            Only numbers allowed
                        </mat-error>
                      
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" placeholder=""></textarea>
                        <mat-error>
                            Description is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Allergens info</mat-label>
                        <mat-select formControlName="allergense" placeholder="Allergense" [multiple]="true" #multiSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No allergy Found" 
                                [formControl]="AllergyMultiFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let allergen of filteredAllergyMulti | async " [value]="allergen.id" >
                                {{allergen?.allergen_name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="createProductForm.get('allergense').hasError('required')">
                            Please select allergense
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Dietary info</mat-label>
                        <mat-select formControlName="dietaries" placeholder="Dietary-info" [multiple]="true" #multiSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No allergy Found" 
                                [formControl]="DietaryMultiFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let diet of filteredDietaryMulti | async " [value]="diet.id" >
                                {{diet?.dietary_name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="createProductForm.get('dietaries').hasError('required')">
                            Please select Dietaries 
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" >
                        <mat-label>Product Varient</mat-label>
                        <input matInput formControlName="varient" placeholder="Product Varient" > 
                       
                        <mat-error>
                            Product varient is required 
                        </mat-error>
                    </mat-form-field>
                    

                     
    
                    <h3 class="pt-10">Upload Product Image:</h3>
                    <input  hidden 
                            #inputfile
                            [formControl]="createProductForm.get('product_image')"
                            type="file"
                            (change)="fileChangeEvent($event)"
                            [accept]="inputAccpets"
                            />
                    <div class="btn mb-4">
                        <button type="button" mat-stroked-button color="primary" 
                         class="mr-12" (click)="inputfile.click();" >Upload</button>
                        <button type="button" mat-stroked-button color="warn" *ngIf="tmp_avatar_img !== '' && tmp_avatar_img"
                         (click)="RemovePicture()">Remove</button>
                    </div>
                    <div class="logo-preview pb-12 pt-12" *ngIf="tmp_avatar_img !== '' && tmp_avatar_img">
                        <img [src]="tmp_avatar_img" *ngIf="tmp_avatar_img !== '' && tmp_avatar_img" />
                    </div>
    
                </form>

            </div>
            
        </div>
        <div class="button-section" fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto">

            <div class="button-margin pl-4" fxLayout="row" fxLayoutGap="20px">
    
                <button mat-raised-button  type="submit" (click)="onSubmit($event)" [disabled]="isSubmit" 
                color="primary" fxFlex="80px" > 
                <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>Save</button>
                <button (click)="dialogRef.close('N');" mat-raised-button fxFlex="80px"> Cancel</button>
            </div>
        </div>
    
    </div>
    </div>

