.text{
    text-align: center;
    margin-left:70px;
    font-size: large;
    font-weight: bold;
}
.mat-form-field{
    padding:10px;
}
#login{
    margin: top 10px !important;
}
mat-toolbar{
    background-color:#6e41c8;
}
.mat-raised-button{
    background-color:#6e41c8 ;
    border-radius: 50px;
}
.mat-stroked-button{
    border-color: white!important;
    background-color: #6e41c8;
    color:white;
}
.image{
    padding:25px;
    width:60%;
    margin-top: 70px;

}
#login {
    width: 100%;

    #login-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

    
        #login-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            text-align: center;

            .title {
                font-size: 20px;
                margin: 16px 0 32px 0;
            }

            form {
                width: 100%;
                text-align: left;

                mat-form-field {
                    width: 100%;
                }

                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;

                }
            }
        }
    }
}
