
p{
    font-weight: bold;
    font-size: medium;
}
img{
    border-radius: 20px;
}
mat-form-field{
    padding:15px;
}
#login {
    width: 100%;
    margin-left:20px !important;

    #login-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

    
        #login-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            text-align: center;

            .title {
                font-size: 20px;
                margin: 16px 0 32px 0;
            }

            form {
                width: 100%;
                text-align: left;

                mat-form-field {
                    width: 100%;
                }

                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                    background-color: #6e41c8;
                    border-radius: 50px;

                }
            }
        }
    }
}