<div class="home">
<div style="height: 100vh;"> 
    <mat-toolbar color="primary">      
      <a mat-button  routerLink="/" style="text-align: start;">
        <span><img src="./assets/logo.jpeg" class="image" style="width: 32%;"></span>
      </a>
      
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- <a mat-button routerLink="auth/login">Login</a> -->
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">chefs</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="become-chefs">Become a masterchef</button>
          <button mat-menu-item routerLink="auth/login">Login</button>
        </mat-menu>
      </div>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- <a mat-button routerLink="auth/login">Login</a> -->
        <button mat-button mat-raised-button color="primary" [matMenuTriggerFor]="menu">customers</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="customer-signup">Signup</button>
          <button mat-menu-item routerLink="auth/login">Login</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav-content fxFlexFill>
      <div class="content"fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px" >
        <div fxLayout="column" fxLayoutAlign="space-around start" class="pl-10" fxFlex="50">
          <p>Authentic Homecooked Food.</p>
          <p>Delivered Straight To Your Door.</p>
          <div>
            <div fxLayout="column" class="pl-20" fxLayoutAlign="space-around center">
              <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                <mat-form-field appearance="outline">
                  <input matInput type="text" placeholder="Enter your address..." >
                </mat-form-field>
                <button mat-raised-button color="primary" class="submit-button" aria-label="Search">
                    Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" class="bg">
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pl-20" fxFlex="50">
          <!-- <h1><b>Local MasterChefs</b></h1> -->
          <img src="./assets/logo.jpeg" class="image" style="width: 100%;">
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pl-20" fxFlex="50">
          <ul>
          <li><h2>Contact Us</h2></li>
          <li>About Us</li>
          <li>Phone: +447988188825</li>
          <li>Email:ali@localmasterchefs.com</li>
        </ul>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pl-20" fxFlex="50">
          <ul>
          <li><h2>Customers</h2></li>
          <li>Login</li>
          <li>Signup</li>
          
        </ul>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around start" class="pl-20" fxFlex="50">
         <ul>
          <li><h2>Chefs</h2></li>
          <li>Become a Chef</li>
          <li>Chef Login</li>
        </ul>
        </div>
      </div>
      <router-outlet></router-outlet> 
    </mat-sidenav-content>
    </mat-sidenav-container> 
  </div>     
</div>


