<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="start start">

      <div id="login-form">

          <!-- <div class="logo">
              <img src="assets/images/logos/fuse.svg">
          </div> -->

          <div class="title">Authentic Homecooked Food Delivered Straight To Your Door.</div>

          <div class="register" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <mat-form-field appearance="outline">
              <input matInput type="text" placeholder="Enter Pastocode" >
            </mat-form-field>
            <button mat-raised-button color="primary"  routerLink="view-chefs" class="submit-button" aria-label="Search">
                Search
            </button>
          </div>

      </div>

  </div>

</div>
<app-footer></app-footer>
