
.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
 }
.example-spacer {
    flex: 1 1 auto;
}


.border {
    border: gainsboro 3px solid;
}
.pl-20 {
    padding: 20px;
}
.bg {
    background-color: #494949;
    color: white;
}