<div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="space-around start" fxLayoutGap="20px" class="footer">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="pl-20" fxFlex="50">
      <!-- <h1><b>Local MasterChefs</b></h1> -->
      <img src="./assets/lmc_logo_white.png" class="image" style="width: 75%;">
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" class="pl-20" fxFlex="50">
     <ul>
      <li><h2>Contact Us</h2></li>
      <li>About us</li>
      <li>Phone: +447988188825</li>
      <li>Email:ali@localmasterchefs.com</li>
     </ul>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" class="pl-20" fxFlex="50">
      <ul>
        <li><h2>Customer</h2></li>
        <li><button mat-button routerLink="customer/login">Login</button></li>
        <li><button mat-button routerLink="customer/signup" >SignUp</button></li>
       </ul>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" class="pl-20" fxFlex="50">
      <ul>
        <li><h2>Chefs</h2></li>
        <li><button mat-button routerLink="auth/login">Login</button></li>
        <li><button mat-button routerLink="become-chefs">Become a chef</button></li>
       </ul>
    </div>
   
  </div>
  